a{
    color: #4343ec;
    text-decoration: none;
    font-size: 1.16em;
}
a:hover{
    color: blueviolet;
    text-decoration: underline;
}
section{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 30px;
}
section ul{
    list-style: none;
    margin-left: 30px;
}
section li{
    padding-top: 10px;
}
section h2{
    margin-top: 20px;
}
footer{
    text-align: center;
}
footer a{
    font-size: 1em;
}
footer p{
    margin-top: 10px;
    margin-bottom: 5px;
}
footer span{
    vertical-align: middle;
}
@media(max-width: 440px){
    footer span{
        display: block;
        padding-top: 15px;
    }
}
@media(max-width: 390px){
    section h2{
        margin-left: 8px;
    }
    section li{
        margin-right: 20px;
    }
}
@media(max-width: 432px){
    section{
        margin-top: 35px;
    }
}